<label>{{localize 'darknessAnimationDuration.dialog.target'}}: <input id="target" type="number" min="0" max="1" step="0.05" placeholder="1.0"></label>
<label>{{localize 'darknessAnimationDuration.dialog.duration'}}: <input id="duration" type="number" min="0" max="20000" step="100" placeholder="{{placeholder}}"></label>